body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    font-family: 'Sofia', sans-serif;
    font-size: 19px;
    text-shadow: 3px 3px 3px #e7dede;
    border-bottom: 1px solid #640707;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 725px;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

.post-date {
    font-size: 20px;
    padding-left: 80%;
    padding-bottom: 15px;
}

.post-delete {
    color: red;
}

.post-edit-delete-back {
    margin-top: 20%;
}